body{margin:0;}

.circulo{
  margin:40px 10px 10px 50px;
  position:relative; width:150px;
  height:150px;
  background-color:#ac5;
  border-radius:100px;
  float: left;
}

.circulo1{
  margin:40px 10px 10px 50px;
  position:relative; width:150px;
  height:150px;
  background-color: #27dae6;
  border-radius:100px;
  float: left;
}
